* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gilroy'; */
    /* color: #fff; */
    font-family: 'Open Sans', sans-serif;
    /* overflow-x: hidden; */
}

html {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}

#main {
    background-color: #efeae3;
    overflow-x: hidden;
}

#page1 {
    min-height: 220vh;
    width: 100%;
}

nav {
    height: 130px;
    width: 100%;
    padding: 2vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    transition: 0.5s;
}

#nav-part2>h4 {

    padding: 10px 20px;
    position: relative;
    border: 1px solid #aca9a6;
    border-radius: 50px;
    color: #5b5958;
    font-weight: 600;
    transition: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

#nav-part2>h4::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -100%;
    height: 60%;
    width: 100%;
    background-color: #000000;
    border-radius: 50%;
    /* transition: 0.6s; */
}

#nav-part2>h4:hover::after {
    top: 0;
    transition: 0.9s;
    border-radius: 0%;
    height: 100%;
    width: 100%;
}

#nav-part2 h4>a {
    color: #000;
    text-decoration: none;
    position: relative;
    z-index: 9;

}

#nav-part2 h4:hover a {
    color: #fff;
}

#center {
    height: 80vh;
    width: 100%;
    /* background-color: orange; */
    color: #000;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5em;
    /* padding-right: 10vw; */
}

#left {
    width: 27%;
    font-size: 22px;
    color: #000 !important;
    line-height: 25px;
}

#left h3 {
    font-weight: 700;
    letter-spacing: -1.5px;
}

#right {
    width: 50%;
    font-size: 80px;
    line-height: 140px;
    text-align: right;
}

#right>h1 {
    text-align: right;
}

#page1>video {
    width: 95%;
    /* height: 110vh; */
    margin-left: 2.5%;
    margin-top: 3%;
    border-radius: 30px;
    position: absolute;
    z-index: 9;
}

#hero-move-box {
    height: 35vw;
    width: 46vw;
    background-color: orangered;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    top: 90vh;
    right: 0;
    animation-name: anime;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime {
    from {
        transform: translate(-15%, -15%);
        width: 46vw;

        to {
            transform: translate(10%, 10%);
            width: 40vw;
        }
    }
}

#hero-move-box2 {
    height: 35vw;
    width: 46vw;
    background-color: orangered;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    top: 90vh;
    right: 10%;
    animation-name: anime2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-move-box3 {
    height: 35vw;
    width: 46vw;
    background-color: orangered;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    top: 80vh;
    right: -10%;
    animation-name: anime2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes anime2 {
    from {
        height: 35vw;
        width: 46vw;
        transform: translate(-5%, -5%);

        to {
            height: 38vw;
            width: 40vw;
            transform: translate(5%, 5%);
        }
    }
}


#page2{
    /* height: 100vh; */
    width: 100%;
    /* background-color: #0000  00; */
}

#marqee-text{
    font-size: 5vw;
     display: flex;
}

.gola{
    height: 90px;
    width: 90px;
    /* display: inline-block; */
    /* white-space: nowrap; */
    /* position: relative; */
    border-radius: 100%;
    
}

.h1s{
    margin-left: 5%;
}

footer{
    height: 100vh;
    width: 100%;
    background-color: #000;
}